EN ESTE NOTEBOOK:
    
Se busca realizar el clustering de guajira y bolivar por medio del clasificador GMMMHMM,

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.preprocessing import StandardScaler
os.getcwd()

'/home/david/Documentos/Analisisdevariables/paraescogerlosdias'

In [19]:
dGuajira = pd.read_csv("/home/david/Documentos/Analisisdevariables/Datospuros/DatosGuajira.csv")
d.head()

,Unnamed: 0,Lugar,Grabadora,Transformación,Permanencia,Longitud,ACIft,ADI,ACItf,BI,...,ADIm2,ADIm3,ADIm4,ADIm5,ADIm6,ADIm7,ADIm8,ADIm9,ADIm10,ADIm11
0,20160101,Guajira,5067,Alta,Baja,73º26'3.2''W,-0.171947,0.584782,-0.475717,-0.860168,...,0.206630,0.260610,-0.326033,0.486937,0.232333,0.149117,-0.372678,-1.039871,-0.914863,-0.200129
1,20160102,Guajira,5067,Alta,Baja,73º26'3.2''W,-0.304241,0.874729,-0.565690,-0.375552,...,0.350874,0.122914,-0.517690,0.421486,0.152173,0.262447,0.029164,-0.745587,-0.942384,-0.068598
2,20160103,Guajira,5067,Alta,Baja,73º26'3.2''W,-0.339822,0.746814,-0.458379,-0.135205,...,0.290717,0.507416,-0.391097,0.740404,0.132742,0.167833,0.237685,-0.404005,-0.543876,0.101897
3,20160104,Guajira,5067,Alta,Baja,73º26'3.2''W,-0.229584,0.918072,-0.325400,-0.110043,...,0.350568,0.274446,-0.362861,0.131288,-0.111861,0.054663,-0.090833,-0.648560,-0.544687,0.117638
4,20160105,Guajira,5067,Alta,Baja,73º26'3.2''W,-0.308185,0.817189,-0.322157,-0.138337,...,0.240093,0.233373,-0.323291,0.180075,-0.131029,-0.073313,-0.177323,-0.836910,-0.718013,0.046863

In [30]:
dBolivar = pd.read_csv("/home/david/Documentos/Analisisdevariables/Datospuros/DatosBolivar.csv")
d.head()

,Unnamed: 0,Lugar,Grabadora,Transformación,Permanencia,Longitud,ACIft,ADI,ACItf,BI,...,ADIm2,ADIm3,ADIm4,ADIm5,ADIm6,ADIm7,ADIm8,ADIm9,ADIm10,ADIm11
0,20160101,Guajira,5067,Alta,Baja,73º26'3.2''W,-0.171947,0.584782,-0.475717,-0.860168,...,0.206630,0.260610,-0.326033,0.486937,0.232333,0.149117,-0.372678,-1.039871,-0.914863,-0.200129
1,20160102,Guajira,5067,Alta,Baja,73º26'3.2''W,-0.304241,0.874729,-0.565690,-0.375552,...,0.350874,0.122914,-0.517690,0.421486,0.152173,0.262447,0.029164,-0.745587,-0.942384,-0.068598
2,20160103,Guajira,5067,Alta,Baja,73º26'3.2''W,-0.339822,0.746814,-0.458379,-0.135205,...,0.290717,0.507416,-0.391097,0.740404,0.132742,0.167833,0.237685,-0.404005,-0.543876,0.101897
3,20160104,Guajira,5067,Alta,Baja,73º26'3.2''W,-0.229584,0.918072,-0.325400,-0.110043,...,0.350568,0.274446,-0.362861,0.131288,-0.111861,0.054663,-0.090833,-0.648560,-0.544687,0.117638
4,20160105,Guajira,5067,Alta,Baja,73º26'3.2''W,-0.308185,0.817189,-0.322157,-0.138337,...,0.240093,0.233373,-0.323291,0.180075,-0.131029,-0.073313,-0.177323,-0.836910,-0.718013,0.046863

In [31]:
#En MetaBolivar se encuentran los datos que no son las variables como la grabadora el dia etc 
MetaBolivar=dBolivar.iloc[:,1:7].copy()
dBolivar.drop(dBolivar.iloc[:, 0:7], inplace = True, axis = 1) 
dBolivar.head()

,ACIft,ADI,ACItf,BI,TE,ESM,NDSI,P,M,NP,...,ADIm2,ADIm3,ADIm4,ADIm5,ADIm6,ADIm7,ADIm8,ADIm9,ADIm10,ADIm11
0,"0,881962198755385","1,37958537980212","0,686408536249901","0,373568767132005","0,780667110192611","-0,995663533743657","0,102276753677763","-0,442451947292613","0,138899511739008","-0,164821476793662",...,"-0,727843587790119","-0,582862180923235","-0,308798142723924","-0,926149852722492","-0,3310574502087","-0,08483386173507","-0,863395405059811","-1,82804248468208","-2,11751838944292","-2,40774710645655"
1,"1,02242344541564","1,61360991490528","1,37875426585608","0,689790500722663","0,740970925232941","-0,858666168317373","0,2724419033052","-0,274769793559529","0,139989844812478","-0,145245722654407",...,"-0,678476764206677","-0,679741466997579","0,243078209729484","-0,736513768338131","-0,277028586728799","-0,368561051860229","-0,961068137690802","-1,9670729226275","-2,22673681758109","-2,74034243222775"
2,"1,11116104095815","1,28233317737695","1,50181287223534","0,635879208560468","0,750586921433434","-1,35990323841196","0,467130123147461","0,044668181775217","0,142089174246446","-0,047031681401484",...,"-0,429356961230342","-0,596137143336776","0,282600544801214","-0,416819943193063","-0,122727689482027","-0,193826555969584","-0,80983496132532","-2,2470248342061","-2,72937819639927","-2,94824867233965"
3,"1,66804956507168","1,37101511856645","1,6270492115321","1,0265697634148","0,600144118586274","-1,69252968160614","0,609323299525549","0,37518739150137","0,159900512955838","0,208658362254707",...,"-0,982034100714045","-1,06329051189121","0,153703171793902","-0,902966588745422","-0,663793521497971","-0,948217204148902","-1,58674484706351","-2,64599470847436","-2,92666713925731","-3,71750598591716"
4,"1,35759805586675","1,47356517662983","1,2911463575993","0,762732894091573","0,703073142191573","-1,25572078131366","0,266255540162315","0,170234059381297","0,14543241382847","0,152064733582582",...,"-0,857030584395817","-0,913719791200509","0,131136623035822","-0,725501868455503","-0,514248234913986","-0,349673185791665","-1,01266270973497","-2,14070295249473","-2,62322038916154","-3,30184024544239"

In [35]:
#En yprueba se encuentra las etiquetas
ypruebaT=MetaBolivar["Transformación"]
trans={'Alta':2,'Baja':0,'Media':1}
ypruebaT=[trans[item] for item in ypruebaT]

In [36]:
#Se estandarizan los datos y quedan guardados en scalx
x= StandardScaler().fit_transform(dBolivar.values)  ##give numpy array values
scalx=pd.DataFrame(x,index=xw.index,columns=xw.columns) #so we need to transform it 
scalx.head()

ValueError: could not convert string to float: '0,881962198755385'

,ACIft,ADI,ACItf,BI,TE,ESM,NDSI,P,M,NP,...,ADIm2,ADIm3,ADIm4,ADIm5,ADIm6,ADIm7,ADIm8,ADIm9,ADIm10,ADIm11
count,87,87,87,87,87,87,87,87,87,87,...,87,87,87,87,87,87,87,87,87,87
unique,87,87,87,87,87,87,87,87,87,86,...,87,87,87,87,87,87,87,87,87,87
top,"1,35759805586675","1,28233317737695","0,843248168329024","-0,005117783467378","-0,086565615176127","-0,342660959884798","0,127919637118601","-0,570053087124088","-0,916669542448596","-0,751449676195125",...,"-1,59325278268838","-1,02945073777447","-0,621876260008355","1,45465486709663","-1,36770330642471","-0,428320731741819","-0,047442151010587","-2,7834760897761","-0,29661150910435","0,536508080354486"
freq,1,1,1,1,1,1,1,1,1,2,...,1,1,1,1,1,1,1,1,1,1